[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Login = "*"
Flask-Session = "*"
Flask-SocketIO = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
python-engineio = "*"
python-socketio = "*"
Werkzeug = "*"
six = "==1.15.0"
Flask-Meld = "*"
gevent = "*"
uWSGI = "*"
appdirs = "*"
beautifulsoup4 = "*"
bidict = "*"
CacheControl = "*"
certifi = "*"
chardet = "*"
click = "*"
colorama = "*"
contextlib2 = "*"
distlib = "*"
distro = "*"
gevent-websocket = "*"
greenlet = "*"
html5lib = "*"
idna = "*"
ipaddr = "*"
lockfile = "*"
msgpack = "*"
orjson = "*"
pep517 = "*"
progress = "*"
pyparsing = "*"
pytoml = "*"
requests = "*"
retrying = "*"
soupsieve = "*"
urllib3 = "*"
webencodings = "*"
"zope.event" = "*"
"zope.interface" = "*"
names = "*"
flask-wtf = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.8"
